<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>776223385884-pntogq8rfgs1e8afrt4faf2uvdlposif.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.776223385884-pntogq8rfgs1e8afrt4faf2uvdlposif</string>
	<key>API_KEY</key>
	<string>AIzaSyDJz2_SJJDwKYGxg_DSWL0fsbxPF560BA4</string>
	<key>GCM_SENDER_ID</key>
	<string>776223385884</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.smashGift</string>
	<key>PROJECT_ID</key>
	<string>challenge-cb3a7</string>
	<key>STORAGE_BUCKET</key>
	<string>challenge-cb3a7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:776223385884:ios:1b6f7f3b9ac02fe94932d9</string>
</dict>
</plist>